.soc {
    margin: 50px 0 0;
    display: flex;
    justify-content: space-evenly;

    img {
        width: calc(100vw - 90%);
        height: 150px;
        transition: 0.1s;
        
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
}

